.page__home
    .block-chapter
        .block-content
            @include media-breakpoint-up(md)
                max-width: $text-width-8

    .block-call_to_action
        .block-content
            background: black
        .call_to_action
            border-width: 0
            position: relative
            
            a
                @include long-arrow
            [role="group"]
                a
                    display: block
        @include media-breakpoint-up(md)
            .block-content
                padding: 60px col(1)
            .call_to_action
                column-gap: $grid-gutter-width
                display: grid
                grid-template-columns: repeat(10, 1fr)
                padding: 0
                p
                    margin-bottom: 0
                > *
                    grid-column: 1/5
                > a, [role="group"]
                    align-self: baseline
                    grid-column: 6/11
                    vertical-align: middle
        @include media-breakpoint-up(lg)
            .block-content
                padding: 110px col(1)
        @include media-breakpoint-down(md)
            background: black