
body
    background-color: black
    background-image: url('/assets/images/sun-top.svg'), linear-gradient(180deg, black 0%, $color-background 700px)
    background-position-x: center
    background-position-y: top
    background-repeat: no-repeat
    @include media-breakpoint-down(desktop)
        background-size: 300%, auto

#document-header
    @include media-breakpoint-up(desktop)
        .container
            flex-direction: column
            .logo
                margin: 10px 0 30px
    .dropdown-menu
        .nav-level-2
            a
                font-weight: bold
        li
            p
                @extend .small
                @include media-breakpoint-down(desktop)
                    margin-bottom: 10px
                @include media-breakpoint-up(desktop)
                    margin-top: 10px

.lead
    color: $color-accent

.hero:not(.hero--with-image)
    padding-bottom: 0
    .content > h1
        text-align: center
        margin-bottom: $spacing2
        margin-left: offset(2)
        width: col(8)

.page__home
    .block-partners
        .organization
            h1
                display: none
            .media
                padding: 0
                padding-right: $spacing2
                background: transparent
                aspect-ratio: 2