.block-call_to_action
    .call_to_action
        padding-bottom: 60px
        position: relative
        & > a
            bottom: 0
            left: 50%
            position: absolute
            transform: translate(-50%, 50%)
