.page__home
    .hero
        background: $color-background-alt
        padding-bottom: var(--grid-gutter)
        height: 100vh
        @include media-breakpoint-down(desktop)
            .container
                height: 100%
                &::after
                    content: "↓"
                    position: absolute
                    bottom: 40px
                    left: 50%
                    margin-left: -7px
                .content
                    position: relative
                    height: 100%
                    display: flex
                    flex-direction: column-reverse
                    justify-content: center
                    figure
                        width: 100vw
                        overflow: hidden
                        picture
                            margin-left: -30px
                            margin-right: -50px
                    .hero-text
                        margin-top: -70px
                        margin-bottom: 0
                        hgroup
                            text-align: center
                            p
                                @include meta
                                margin-top: $spacing-1
                        .hero-actions
                            text-align: center
        @include media-breakpoint-up(desktop)
            position: relative
            overflow: hidden
            .container
                height: 100%
                .content
                    height: 100%
                    align-items: end
                    padding-top: 0
                    .hero-text
                        display: flex
                        justify-content: space-between
                        align-items: end
                        width: 100%
                        margin-top: 0
                        z-index: 1
                        hgroup
                            display: block
                            margin-bottom: 0
                            h1,
                            p
                                width: 100%
                                text-align: left
                            p
                                @include meta
                                margin-top: $spacing-2
                                margin-bottom: pxToRem(-5)
                    figure
                        position: absolute
                        top: 90px
                        right: 0
                        bottom: 0
                        left: 0
                        width: 100%
                        z-index: 0
                        margin-top: 0
                        picture
                            height: 120%
                            width: 100%
                            img
                                width: 100%
                                height: 100%
                                object-fit: scale-down 
                                object-position: center top
// ios top bar color
html
    transition: background-color 0.25s  
    &:not(.has-menu-sticky)
        .page__home
            background: $color-background-alt
    &.has-menu-opened
        background: $color-text
