.document-content
    > .blocks
        > .block-class-related
            display: none
.related
    background: $color-background-alt
    margin-top: 0
    margin-bottom: -4rem
    &__blocks
        .block
            margin-bottom: 0
            padding-bottom: 0
            .container
                .block-content
                    padding-top: $spacing-5
                    padding-bottom: $spacing-5
                    border-bottom: 1px solid $color-border
    &__links
        .container
            padding-top: $spacing-5
            padding-bottom: $spacing-5
            h2
                @include h3
            ul
                list-style: none
                padding-left: 0
                li
                    @include h2
                    a
                        @include arrow-right-hover
                        justify-content: start !important
                        text-decoration: none
                        &::after
                            position: relative !important
                            padding-left: $spacing-2
            @include media-breakpoint-up(desktop)
                display: flex
                flex-direction: row
                justify-content: space-between
                h1
                    width: columns(4)
                ul
                    width: columns(8)
                    margin: 0