.document-content
    > .blocks
        > .block-class-related
            display: none
.related
    background: $color-background-alt
    padding-bottom: $spacing-5
    padding-top: $spacing-3
    margin-bottom: -4rem
    &__blocks
        .block
            .container
                .block-content
                    padding-bottom: $spacing-5
                    border-bottom: 1px solid $color-border
    &__links
        .container
            h2
                @include h3
            ul
                list-style: none
                padding-left: 0
                li
                    @include h2
                    a
                        text-decoration: none
            @include media-breakpoint-up(desktop)
                display: flex
                flex-direction: row
                justify-content: space-between
                h1
                    width: columns(4)
                ul
                    width: columns(8)
                    margin: 0