// custom
$font-family-serif: 'Big Moore It', Serif
$text-width-8: calc((100%/12*8) - (24px/14)*5)
$text-width-10: calc((100%/12*10) - (24px/14)*3)

// Bootstrap
$primary: #FFFFFF
$body-bg: #222222
$body-color: #FFFFFF
$link-color: #FFFFFF

$blockquote-font-size: px2rem(30)
$blockquote-footer-color: inherit
$blockquote-footer-font-size: 1rem
$blockquote-margin-y: 0

$breadcrumb-active-color: white
$breadcrumb-font-size: px2rem(14)
$breadcrumb-margin-bottom: 0

$card-bg: transparent

$dropdown-bg: black
$dropdown-border-radius: 0
$dropdown-color: white
$dropdown-link-color: white
$dropdown-link-hover-bg: transparent

$font-family-sans-serif: 'Aestetico', Sans-Serif
$font-size-root: 1rem
$font-size-base: 1.125rem
$line-height-base: 1.6


$h1-font-size: px2rem(30)
$h2-font-size: px2rem(28)

$headings-font-weight: 300

$modal-inner-padding: 0

$navbar-padding-y: px2rem(25)

$navbar-brand-padding-y: 0
$navbar-brand-margin-end: 0

$small-font-size: px2rem(14)
