{{ partial "footer/stakeholder.html" }}
<div class="content">
  <div class="complementary">
    {{ if site.Data.menus.legal }}
      {{ partial "commons/menu.html"
            (dict
              "items"       site.Data.menus.legal
              "level"       1
              "class"       "nav-legal"
            )}}
    {{ end }}
    {{ if site.Data.menus.social }}
      {{ partial "commons/menu.html"
            (dict
              "items"       site.Data.menus.social
              "level"       1
              "class"       "nav-social"
            )}}
    {{ end }}
    {{ partial "footer/credit.html" }}
  </div>
  
  <div>
    {{ partial "footer/logo.html" }}
    {{ partial "footer/site.html" }}
    {{ partial "footer/backtotop.html" }}
  </div>
</div>
