<section class="stakeholder">
  <p>Parties prenantes</p>
  <ul>
    <li>
      <a href="https://www.noesya.coop/" target="_blank" rel="noreferrer">
        <img src="/assets/images/logos/logo-noesya.svg" alt="Noesya" width="160" height="44">
      </a>
    </li>
    <li>
      <a href="https://anthropology.mit.edu/" target="_blank" rel="noreferrer">
        <img src="/assets/images/logos/logo-mit-anthropology.svg" alt="MIT Anthropology" width="160" height="39">
      </a>
    </li>
    <li>
      <a href="https://scalingo.com/" target="_blank" rel="noreferrer">
        <img src="/assets/images/logos/logo-scalingo.svg" alt="Scalingo" width="160" height="40">
      </a>
    </li>
    <li>
      <a href="https://www.scaleway.com/" target="_blank" rel="noreferrer">
        <img src="/assets/images/logos/logo-scaleway.svg" alt="Scaleway" width="160" height="39">
      </a>
    </li>
    <li>
      <a href="https://project.inria.fr/classcode/" target="_blank" rel="noreferrer">
        <img src="/assets/images/logos/logo-classcode.svg" alt="Class’Code" width="160" height="">
      </a>
    </li>
    <li>
      <a href="https://degrowthjournal.org/" target="_blank" rel="noreferrer">
        <img src="/assets/images/logos/logo-degrowth.svg" alt="Degrowth Journal" width="160" height="48">
      </a>
    </li>
    <li>
      <a href="https://www.u-bordeaux-montaigne.fr/" target="_blank" rel="noreferrer">
        <img src="/assets/images/logos/logo-u-bordeauxmontaigne.svg" alt="Université Bordeaux Montaigne" width="160" height="44">
      </a>
    </li>
    <li>
      <a href="https://mica.u-bordeaux-montaigne.fr/" target="_blank" rel="noreferrer">
        <img src="/assets/images/logos/logo-mica.svg" alt="Laboratoire MICA" width="160" height="54">
      </a>
    </li>
    <li>
      <a href="https://roseprimaire.com/" target="_blank" rel="noreferrer">
        <img src="/assets/images/logos/logo-rose-primaire.svg" alt="Rose Primaire" width="116" height="50">
      </a>
    </li>
  </ul>
</section>
