footer[role="contentinfo"]
    background-color: black
    padding-bottom: 0
    padding-top: px2rem(40)
    @include media-breakpoint-up(lg)
        padding-bottom: px2rem(140)
        padding-top: px2rem(40)

    .logo
        display: inline-block
        margin-bottom: px2rem(100)
        @include media-breakpoint-up(md)
            margin-bottom: px2rem(30)
        img
            height: 33px
            max-width: 100%
            width: auto
        & + p
            font-family: $font-family-serif
            font-size: px2rem(20)
            font-style: italic
            font-weight: 400
            line-height: px2rem(34)
            margin-bottom: 0

    .content
        @include media-breakpoint-down(md)
            background-image: url('../images/sun.svg')
            background-position: center top
            background-repeat: no-repeat
            background-size: 1000px auto
            padding-top: px2rem(30)
        > div
            @include media-breakpoint-up(md)
                width: 50%
                &:last-child
                    text-align: right
            &:last-child
                @extend .col-lg-3
                @extend .offset-lg-3
                display: flex
                flex-direction: column
                justify-content: flex-end
                @include media-breakpoint-down(md)
                    align-items: center
                    padding-bottom: px2rem(150)
                    padding-top: px2rem(240)
                    text-align: center
                    p
                        max-width: 59%
    nav
        margin-left: -$nav-link-padding-x
        > ul
            @extend .nav
            flex-direction: column
        li
            @extend .nav-item
        a,
        span
            @extend .nav-link
            font-size: px2rem(14)
