<div class="top">
  <h2>
    {{- $title := safeHTML (partial "CorrectPunctuation" .title) -}}
    {{ if ne .kind "blank" }}<a href="{{ .target }}" title="{{ i18n "commons.more_aria" (dict "Title" $title) }}">{{ end }}
      {{- $title -}}
    {{ if ne .kind "blank" }}</a>{{ end }}
  </h2>
  {{ $page := partial "GetPageByUrl" .target }}
  {{with $page}}
    {{ if (partial "GetTextFromHTML" .Description) }}
      <span class="link">{{ truncate 250 (safeHTML .Description) }}</span>
    {{ end }}
  {{end}}
</div>
